$default-bg-color: #FFFFFF;
$default-text-color: #000000;
$default-font-weight: 400;
$default-font-family: '2030';

$color-blue-dark: #002248;
$color-blue-light: #00B3A0;
$color-gray: #697687;
$color-bg-gray: #F8F8F8;
$color-blue: #3685FB;

$page-padding: 135px;