@font-face {
  font-family: 'Voska';
  font-weight: normal;
  src: local('Voska'), url(../../../fonts/Voska/Voska.otf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Voska';
  font-weight: bold;
  src: local('Voska'), url(../../../fonts/Voska/VoskaBold.otf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: '2030';
  font-weight: 200;
  src: local('2030'), url(../../../fonts/2030/2030-Thin.otf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: '2030';
  font-weight: 300;
  src: local('2030'), url(../../../fonts/2030/2030-Light.otf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: '2030';
  font-weight: 400;
  src: local('2030'), url(../../../fonts/2030/2030-Regular.otf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: '2030';
  font-weight: 500;
  src: local('2030'), url(../../../fonts/2030/2030-Medium.otf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: '2030';
  font-weight: 600;
  src: local('2030'), url(../../../fonts/2030/2030-Bold.otf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: '2030';
  font-weight: 700;
  src: local('2030'), url(../../../fonts/2030/2030-Black.otf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: '2030';
  font-weight: 800;
  src: local('2030'), url(../../../fonts/2030/2030-Extra-Black.otf) format('truetype');
  font-display: swap;
}
