.social {
  height: 900px;

  .header {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 120px;
    margin-bottom: 90px;

    .text-wrapper {
      max-width: 462px;

      .subtitle {
        margin-bottom: 10px;
      }
    }

    .button-wrapper {
      position: absolute;
      right: 0;
      bottom: 0;

      .button {
        padding: 20px 48px;
      }
    }
  }

  .images {
    max-width: 1440px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;

    margin: 0 auto;

    // TEMPORARILY
    position: relative;
    left: -140px;

    img {
      width: 320px;
      height: 456px;

      border-radius: 10px;

      &:nth-child(2n + 1) {
        border-radius: 570px;
      }
    }
  }
}